name: sport_tracker
description: GPS Sport Tracker with voice announcements
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

  geolocator: ^10.1.0
  flutter_tts: ^3.8.5
  permission_handler: ^11.3.0
  provider: ^6.1.2
  cupertino_icons: ^1.0.6
  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
